html, body, .container, #text-container, #mapContainer{
  height:100%;
  margin: 0;
}

body {
  font-family: sans-serif;
  background-color: white;
  font-size: 62.5%;
  color: #333333}

.container{
  display: flex;
}

#text-container{
  position: relative;
  float: left;
  text-align: left;
  margin: 10px;
  width: 30%;
  z-index: 1;
  overflow-y: scroll;
}

h1 {
  font-family: Helvetica, sans-serif;
  font-size: 1.8rem;
  color: #039252;
}

h2 {
  font-family: Helvetica, sans-serif;
  font-size: 1.2rem;
  color: #333333;
}

p {
  font-family: Helvetica, sans-serif;
  font-size: 0.9rem;
  color: #333333;
}

.legend {
  position: relative;
  float: left;
  width: 100%;
}

#legendtitle {
  font-family: Helvetica, sans-serif;
  font-size: 1.2rem;
  color: #333333;
  padding-bottom: 10px;
}


.color-code {
  position: relative;
  float: left;
  width: 15px;
}

.colors {
  width: 40px;
  height: 15px;
}

#c1 {
  background-color: #517CAD;
}

#c2 {
  background-color: #85CC8D;
}

#c3 {
  background-color: #D6C815;
}

#c4 {
  background-color: #DB842C;
}

#c5 {
  background-color: #B32911;
}

.color-labels-container {
  position: relative;
  float: left;
  width: 80%;
  margin-left: 30px;
}

.color-label {
  font-size: 0.8rem;
}

.filter-container {
  position: relative;
  float: left;
  width: 100%;
  margin-top: 10px;
}

.filters {
  position: relative;
  float: left;
  margin-top: 10px;
}

#menu a {
font-size: 0.8rem;
color: #333333;
padding: 5px;
font-variant: small-caps;
border-radius: 3px;
text-align: center;
}

#menu a.active {
background-color: #039252;
color: #404040;
}

#sources {
  position: relative;
  float: left;
  font-size: 0.6rem;
  margin-top: 20px
}

#map-container {
  flex-grow: 1;
  }

.popup {
  width: 100%;
  height: auto;
}
